#block-exposedformsearch-solr-page-1-2 .views-ef-fieldset-container-1,
#block-exposedformsearch-solr-page-1-2 .views-ef-fieldset-container-0,
#block-exposedformsearch-solr-page-1-2 #edit-field-geolocation-2-proximity-wrapper--3,
.form-item-field-geolocation-2-proximity-center-long,
.form-item-field-geolocation-2-proximity-center-lat
 {
  display: none;
}

.block-exposedformsearch-solr-page-1 #edit-actions.form-actions {
  bottom: -2em;
}

@media (min-width: 768px) {
  .block-exposedformsearch-solr-page-1 #edit-actions.form-actions {
    bottom: -1.5em;
  }
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

label[for="edit-field-geolocation-2-proximity-current-location"] {
  pointer-events:none;
}

.block-exposedformsearch-solr-page-1 .js-form-type-textfield input {
  width: 85% !important;
}

.form-item, .form-actions {
  margin-top: unset !important;
  margin-bottom: 0.5em !important;
}

.collapse-processed:not([open]) > summary:before,
.collapse-processed > summary:before {
  display: none !important;
}

.views-ef-fieldset-container-0 > .details-wrapper {
  display: inline-flex;
}

@media screen and (min-width: 1200px) {
  .form-item-custom-899, .form-item-custom-896 {
    left: 0px;
    top: 0px;
    width: 350px !important;
    display: block !important;
  }

  label[for=edit-custom-899], label[for=edit-custom-896], label[for=edit-custom-899--2], label[for=edit-custom-896--2] {
    float: left;
    margin: 1px;
    display: block !important;
  }

  #edit-custom-897, #edit-custom-898, #edit-custom-897--2, #edit-custom-898--2 {
    width: 42% !important;
  }

  #edit-custom-897 > .form-checkboxes, #edit-custom-898 > .form-checkboxes,
  #edit-custom-897--2 > .form-checkboxes, #edit-custom-898--2 > .form-checkboxes   {
    width: 50%;
    float: right;
    text-align: left;
  }

  #edit-custom-896, #edit-custom-896--2 {
    width: 36% !important;
  }

  #edit-custom-899:lang(fr), #edit-custom-899--2:lang(fr) {
    width: 125px !important;
  }

  .form-item-field-geolocation-2-proximity-street-address, .form-item-field-geolocation-2-proximity-city,
  .form-item-field-geolocation-2-proximity-postal-code, .form-item-custom-891, .form-item-custom-892 {
    display: inline-flex !important;
  }

  .views-ef-fieldset-container-1 .form-type-textfield label {
    padding-right: 1em !important;
    width: 111px;
  }

  label[for=edit-custom-891], label[for=edit-custom-892], label[for=edit-custom-891--2], label[for=edit-custom-892--2] {
    width: 40px !important;
  }
}

#edit-field-geolocation-2-proximity-wrapper--3 {
  border-color: white !important;
}

@media screen and (max-width: 1200px) {
  .block-exposedformsearch-solr-page-1 .js-form-type-textfield input:not(#edit-search-api-fulltext) {
        width: calc(100% - 100px) !important;
  }
  .views-ef-fieldset-container-0 > .details-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.icon_accepting-img {
  background-image: url('/modules/custom/jma_customizations/img/icon_accepting_16px.png');
}
.icon_not_accepting-img {
  background-image: url('/modules/custom/jma_customizations/img/icon_not_accepting_16px.png');
}
.icon_local_travel-img {
  background-image: url('/modules/custom/jma_customizations/img/icon_local_travel_16px.png');
}
.icon_remote_travel-img {
  background-image: url('/modules/custom/jma_customizations/img/icon_remote_travel_16px.png');
}
.icon_videoconferencing-img {
 background-image: url('/modules/custom/jma_customizations/img/icon_videoconferencing_16px.png');
}
.icon_verified-img {
 background-image: url('/modules/custom/jma_customizations/img/icon_verified_16px.svg');
}

.provider-icon {
    width: 30px;
    height: 16px;
    display: inline-block;
    cursor: default;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 5px;
}

.block-facet--links {
    padding: 1.5em 2em;
    border-radius: 4px;
    border: solid 1px #dcdcdc;
    background-color: white;
    -webkit-box-shadow: 0 0 20px -5px rgba(0,0,0,0.1),0 0 20px -5px rgba(0,0,0,0.1);
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.1),0 0 20px -5px rgba(0,0,0,0.1);
    margin-bottom: 1.25em;
}

li.facet-item {
  list-style-type: none;
}

input.facets-checkbox:not(:checked) + label {
  font-weight: normal;
}

input.facets-checkbox {
  margin-right: 10px;
}
