#block-exposedformsearch-solr-page-1-2 .views-ef-fieldset-container-1,
.js-form-item-field-geolocation-2-proximity-center-long,
.js-form-item-field-geolocation-2-proximity-center-lat
 {
  display: none;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.block-exposedformsearch-solr-page-1 .js-form-type-textfield input:not(#edit-search-api-fulltext) {
  width: auto !important;
}
