.path-event-map #edit-coordinates, .view-display-id-attachment_1 > .view-header  {
  display: none;
}

.field--name-custom-893 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.node--view-mode-teaser.node--type-learning-resource h2::after {
  content: "Learning Resource";
  font-size: 12px;
  font-weight: 700;
  color: #707070;
  padding-top: 2em;
  display: block;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.5px;
}

html:lang(fr) .node--view-mode-teaser.node--type-learning-resource h2::after {
  content: "Ressources d’apprentissage";
}

.civicrm-entity--view-mode-search-teaser.civicrm-entity--type-civicrm-contact h2:after {
  content: 'Service Listing' !important;
}

html:lang(fr) .civicrm-entity--view-mode-search-teaser.civicrm-entity--type-civicrm-contact h2:after {
  content: 'Répertoire des services' !important;
}

.views-field, .field__item {
  margin-top: 15px;
}

.views-field-contact-sub-type {
  text-transform: uppercase;
  font-size: 20px;
  color: #707070;
  font-style: italic;
}

.node--view-mode-teaser.node--type-learning-resource .field--name-field-linked-videos .field__item {
  margin-bottom: 1em;
}

.field--name-organization-name a {
  cursor: pointer;
}

.views-field-display-name h2::after {
  content: "";
  display: block;
  width: 80px;
  border-bottom: 2px solid #abad00;
  position: relative;
  top: 10px;
}

.view-content a {
 color: #006ba6 !important;
}

a:hover {
  text-decoration: underline;
}

.block-exposedformsearch-solr-page-1 .js-form-type-textfield input:not(#edit-search-api-fulltext--3) {
  width: auto !important;
}
